<div class="ui small  inverted menu">
  <%= link_to "ChatRoom", root_path, class: "item" %>
  <a class="item">
    Messages
  </a>
  <div class="right  menu">
    <div class="item">
        <%= link_to "Login", login_path, class: "ui primary button" %>
    </div>
  </div>
</div>