<div class="ui small  inverted menu">
  <%= link_to "ChatRoom", root_path, class: "item" %>
  <a class="item">
    Messages
  </a>
  <div class="right  menu">
    <div class="item">
    <% if logged_in? %>
        <%= link_to "Logout", logout_path, class: "ui primary button", method: :delete %>
    <% else %>
        <%= link_to "Login", login_path, class: "ui primary button" %>
    <% end %>
    </div>
  </div>
</div>